---
// Importamos la función getAgentBySlug.
import { getAgentBySlug } from "../../lib/mongo.js";

import Header from "../../components/Header.astro";

// Obtenemos el slug del agente seleccionado.
const { slug } = Astro.params;

// Obtenemos el agente seleccionado.
const agent = await getAgentBySlug(slug);

// Si no se encuentra el agente, se lanza un error.
if (!agent) {
  throw new Error(`Agent with slug "${slug}" not found`);
}

// Defino el tipo de Habilidad
interface Habilidad {
  nombre: string;
  descripcion: string;
  imagen: string;
}
---

<!-- Agent detail page -->
<Header />
<main class="container mx-auto p-5">
  <h1 class="text-3xl font-bold text-center py-6">{agent.agente}</h1>
  <div class="flex flex-col md:flex-row gap-6 align-center justify-center">
    <div
      class="w-96 h-96 min-w-[24rem] min-h-[24rem] max-w-[24rem] max-h-[24rem] flex items-center justify-center overflow-hidden rounded-lg"
    >
      <img
        src={agent.imagen}
        alt={agent.agente}
        class="object-contain h-full rounded-xl"
      />
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
      {
        agent.habilidades.map((habilidad: Habilidad) => (
          <div class="border border-gray-200 p-3 rounded-lg">
            <img
              src={habilidad.imagen}
              alt={habilidad.nombre}
              class="bg-red-300 size-20 rounded-lg p-3"
            />
            <hr class="my-5" />
            <div class="flex flex-col">
              <span class="font-bold">{habilidad.nombre}</span>
              <span>{habilidad.descripcion}</span>
            </div>
          </div>
        ))
      }
    </div>
  </div>
</main>
